<div class="large-8 columns large-centered">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <fieldset>
      <legend>Password Reset</legend>
      <h4>Recover Recifree Acount</h4>
      <%= f.input :email, label: false, placeholder: 'Email', required: true, autofocus: true %>
      <%= f.button :submit, "Send reset instructions", class: 'button small radius' %>
    <% end %>
  </fieldset>
</div>
