<div class="row">
  <div class="large-2 columns">
    <%= ingredient.amount %>
  </div>
  <div class="large-3 columns">
    <%= ingredient.unit %>
  </div>
  <div class="large-7 columns">
    <%= ingredient.name %>
  </div>
</div>
