// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  h3 {
    margin-top: 50px;
    border-bottom: 1px solid black;
    font-size: 3em;
  }

  li {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.3em;
  }
}

#photo {
  img {
    margin-bottom: 15px;
  }

  a {
    font-size: 1.2em;
  }
}
